body {
    background-color: #eeedbe;
    color: black;
    background-size: cover;
    font-family: Didot, sans-serif;
    letter-spacing: 2px;
    /* background-image: url(''); */
}

.ul-plant-list {
    list-style: none;
}

.plant-name {
    list-style: none;
    font-size: 18px;
}

div {
    display: block;
}

#header {
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    width: 85vw;
}

#first-section {
    text-align: left;
    border-radius: 10px;
    width: 25%;
    height: auto;
    overflow: hidden;
    background: #9C7C5F;
    padding-right: 20px;
    padding-left: 20px;
}

#middle-section {
    border-radius: 10px;
    text-align: center;
    width: 35%;
    height: auto;
    overflow: hidden;
    background: #9C7C5F;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#last-section {
    border-radius: 10px;
    text-align: center;
    width: 25%;
    height: auto;
    overflow: hidden;
    background: #9C7C5F;
    padding-right: 10px;
}

.shopping-list {
    text-align: left;
}

#poster {
    max-width: 20vw;
    border-radius: 10px;
    padding-bottom: 10px;
}

.add-plant {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #eeedbe;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-family: Didot, sans-serif;
    letter-spacing: 2px;
  }